/* Tarot Deck Card Stack */
.flip-card,
.build-deck,
.deck-card-stack                      { width: 17rem; }

.build-deck {
  position: relative;
  height: 30.4rem;

  img {
    &:nth-child(2) { rotate: -2deg; }
    &:nth-child(3) { rotate: 1deg; }
    &:nth-child(4) { rotate: -2deg; }
  }

  .deck-card-stack {
    position: absolute;
    top: 0;
    left: 0;
    border: .1rem solid var(--border-tarot-card);
    box-shadow: 0 .3rem 1rem 0 rgba(var(--black), .6);
  }
}

/* Animate Card Flip */
.flip-card-inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(var(--black), .2);
}

.flip-card  {
  perspective: 1000px;

  .flip-card-back,
  .flip-card-inner.show,
  &:active .flip-card-inner { transform: rotateX(180deg); }
}

.flip-card-back                    { height: 0; }
.flip-card-front                   { border: .1rem solid var(--border-tarot-card); }
.flip-card-front, .flip-card-back  { -webkit-backface-visibility: hidden; backface-visibility: hidden; }

/* Animate draw */
#top {
  transform: translate();
  transition-duration: 450ms;
  opacity: 1;

  &.draw-animation-0 { transform: translate(0, 36.1rem); }
  &.draw-animation-1 { transform: translate(62%, 36.1rem); }
  &.draw-animation-2 { transform: translate(123%, 36.1rem); }

  @media (max-width: 991.98px) {
    &.draw-animation-0 { transform: translate(0, 31.7rem); }
    &.draw-animation-1 { transform: translate(63%, 31.7rem); }
    &.draw-animation-2 { transform: translate(127%, 31.7rem); }
  }

  @media (max-width: 575.98px) {
    &.draw-animation-0 { transform: translate(0, 26.5rem); }
    &.draw-animation-1 { transform: translate(60%, 26.5rem); }
    &.draw-animation-2 { transform: translate(119%, 26.5rem); }
  }
  @media (max-width: 404.98px) {
    &.draw-animation-0 { transform: translate(0, 130%); }
    &.draw-animation-1 { transform: translate(60%, 130%); }
    &.draw-animation-2 { transform: translate(0%, 280%); }
  }
}

#top.draw-animation-time {
  transition-delay: 0ms !important;
  transition-duration: 0ms !important;
}

[id*="tarot-content-"] .card {
  background-color: transparent;
  border-color: transparent;
  color: var(--main-bg);
  transition: all 1s ease 100ms;

  .card-body {
    .p { color: transparent; transition: color 1s ease 50ms; }
    .btn { opacity: 0; }
  }

  &.draw-animation-style {
    background-color: rgba(var(--black), .09);
    border-color: rgba(var(--black), .125);

    .card-body {
      .p { color: var(--white); }
      .btn { opacity: 1; position: relative;}
    }
  }
}

/* Responsive */
@media (min-width: 576px) and (max-width: 991.98px) {
  .flip-card,
  .build-deck,
  .deck-card-stack { width: 15rem; }
  .build-deck      { height: 26rem; }
}

@media (max-width: 575.98px) {
  .flip-card,
  .build-deck,
  .deck-card-stack      { width: 12rem; }
  .build-deck           { height: 20.8rem; }
  [id*="TarotApp"] .row { --bs-gutter-x: 0; }
  #paperfox--tabpane-TarotApp .container-xxl { padding: 0; }
}