/* Tarot Deck Card Stack */
.flip-card,
.build-deck,
.deck-card-stack { width: 17rem; }

.build-deck {
  position: relative;
  height: 30.4rem;

  img {
    &:nth-child(2) { rotate: -2deg; }
    &:nth-child(3) { rotate: 1deg; }
    &:nth-child(4) { rotate: -2deg; }
  }

  .deck-card-stack {
    position: absolute;
    top: 0;
    left: 0;
    border: .1rem solid var(--border-tarot-card);
    box-shadow: 0 .3rem 1rem 0 rgba(var(--black), .6);
  }
}

/* Position and style draw card label */
.build-deck {
  display: grid;
  place-items: center;
  grid-template-areas: "inner-div";
}

.btn.btn-link.tarot-deck {
  p {
    z-index: 1;
    grid-area: inner-div;
    margin-bottom: 132%;
    background-color: rgba(var(--black), .8);
    color: var(--accent);
    padding: .4rem;
  }

  &:focus,
  &:focus-visible,
  &:hover {
    color: var(--accent);
    text-decoration-color: var(--accent);
  }
}

/* Animate Card Flip */
.flip-card-inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 .4rem .8rem 0 rgba(var(--black), .2);
}

.flip-card  {
  perspective: 100rem;

  .flip-card-back,
  .flip-card-inner.show,
  &:active .flip-card-inner { transform: rotateX(180deg); }
}

.flip-card-back  { height: 0; }
.flip-card-front { border: .1rem solid var(--border-tarot-card); }
.flip-card-front,
.flip-card-back  { -webkit-backface-visibility: hidden; backface-visibility: hidden; }

/* Animate draw */
#top {
  transform: translate();
  transition-duration: 450ms;
  opacity: 1;

  &.draw-animation-0 { transform: translate(0, 36.1rem); }
  &.draw-animation-1 { transform: translate(62%, 36.1rem); }
  &.draw-animation-2 { transform: translate(123%, 36.1rem); }

  @include media-breakpoint-down(lg) {
    &.draw-animation-0 { transform: translate(0, 31.7rem); }
    &.draw-animation-1 { transform: translate(63%, 31.7rem); }
    &.draw-animation-2 { transform: translate(127%, 31.7rem); }
  }

  @include media-breakpoint-down(sm) {
    &.draw-animation-0 { transform: translate(0, 26.5rem); }
    &.draw-animation-1 { transform: translate(60%, 26.5rem); }
    &.draw-animation-2 { transform: translate(119%, 26.5rem); }
  }

  @media (max-width: 431.98px) {
    &.draw-animation-0 { transform: translate(0, 130%); }
    &.draw-animation-1 { transform: translate(60%, 130%); }
    &.draw-animation-2 { transform: translate(0%, 280%); }
  }
}

#top.draw-animation-time {
  transition-delay: 0ms !important;
  transition-duration: 0ms !important;
}

[id*="tarot-content-"] .card {
  background-color: transparent;
  border-color: transparent;
  color: var(--main-bg);
  transition: all 1s ease 100ms;

  .card-body {
    .p { color: transparent; transition: color 1s ease 50ms; }
    .btn { opacity: 0; }
  }

  &.draw-animation-style {
    background-color: rgba(var(--black), .09);
    border-color: rgba(var(--black), .125);

    .card-body {
      .p { color: var(--white); }
      .btn { opacity: 1; position: relative;}
    }
  }
}

/* Daily Card Page */
.daily-description {
  transition: width 0.3s ease-in;
  transition-duration: 1000ms;
}

.demand-2 {
  background-color: rgba(var(--black), 0.09);
  border-color: rgba(var(--black), 0.125);
  width: 0;
  padding: 0;
}

.daily-description.width {
  width: 60%;
  padding: 1.6rem;

  div {
    width: 90%;
    margin: 2.4rem auto;
  }

  div *:last-child { margin-bottom: 0; }
}

.skeleton-loading {
  animation: skeleton-loading 1s linear infinite alternate;
  box-shadow: 0 0 .4rem .8rem rgba(var(--black), .1);
  height: 78%;

  &:has(p) .visually-hidden { display: none; }

  &:has(p) {
    animation: none;
    box-shadow: none;
    height: auto;
  }
}

@keyframes skeleton-loading {
  0%   { background-color: rgba(var(--black), .1); }
  100% { background-color: rgba(var(--black), .3); }
}

/* Responsive */
@include media-breakpoint-between(sm, lg) {
  .flip-card,
  .build-deck,
  .deck-card-stack { width: 15rem; }
  .build-deck      { height: 26rem; }
  .daily-description.width { width: 65%; }
}

@media (max-width: 599.98px) {
  #paperfox--tabpane-TarotApp .container-xxl { padding: 0; }
}

@include media-breakpoint-down(sm) {
  .flip-card,
  .build-deck,
  .deck-card-stack         { width: 12rem; }
  .build-deck              { height: 20.8rem; }
  [id*="TarotApp"] .row    { --bs-gutter-x: 0; }
  .btn.btn-link.btn-daily,
  .daily-description.width { width: 100%; }
  .skeleton-loading        { height: .8rem; }
  .btn-daily .flip-card    { margin: auto; }
}