*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --main-bg: #282a31;
  --nav-bg-alpha: 30, 33, 39;
  --modal-bg: #2d2f36;
  --text-body: #d4d4d6;
  --accent: #daa520;
  --link: #de7826;
  --border-tarot-card: rgba(253, 184, 19, 0.3);
  --white: #ffffff;
  --black: 0, 0, 0;

  //Bootstrap CSS variable overrides
  --#{$prefix}border-color: transparent;
}

html {
  font-size: 62.5%;
  background-color: var(--main-bg);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--main-bg);
  font-family: 'Quicksand Variable', 'Helvetica Neue', sans-serif;
  color: var(--white);

  &::-webkit-scrollbar {
    width: 1.6rem;

    &-track {
      background-color: #444444;
    }

    &-thumb {
      background-color: var(--text-body);
      border-radius: 0.2rem;
      border: 0.1rem solid #444444;
    }
  }
}

[id*='sectionTitle'] {
  scroll-margin-top: 4.8rem;
}
.container {
  padding-inline: 1.6rem;
}

/* Set up for sticky footer */
html,
body,
#paperfox-content {
  height: 100%;
}
#paperfox-content {
  display: flex;
  flex-direction: column;
}
#paperfox-content main {
  flex: 1 0 auto;
}
footer {
  flex-shrink: 0;
}

img,
svg {
  vertical-align: middle;
}

hr {
  margin: 1rem 0;
  color: var(--white);
  border: 0;
  border-top: 1px solid var(--white);
  opacity: 0.2;
}

/* Typography */

%shared-heading-styles {
  margin-top: 0;
  line-height: 1.2;
}

%shared-body-styles {
  margin-top: 0;
  line-height: 1.5;
}

h1:empty,
h2:empty,
h3:empty,
p:empty,
a:empty {
  display: none;
}
h1,
h2 {
  @extend %shared-heading-styles;
  font-weight: 500;
}
h3 {
  @extend %shared-heading-styles;
  font-weight: 600;
}
h4 {
  @extend %shared-heading-styles;
  font-size: 1.6rem;
  font-weight: 500;
}
h1 {
  font-size: 3.4rem;
  margin-bottom: 3rem;
  padding-top: 8rem;
}
h2 {
  font-size: 2.4rem;
  margin-bottom: 2.2rem;
}
h3 {
  font-size: 1.8rem;
  margin-bottom: 1.6rem;
}
h4 {
  margin-bottom: 0.5rem;
}

small {
  @extend %shared-body-styles;
  font-size: 0.75em;
}
.side-nav li {
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
}
.p {
  margin-bottom: 0.8rem;
}
p,
.p,
ul li {
  @extend %shared-body-styles;
  font-size: 1.6rem;
}
p,
.p {
  margin-bottom: 1rem;
}

a {
  font-size: inherit;
}
.btn {
  font-size: 1.4rem;
  font-weight: 500;
}
p,
.p,
a {
  font-weight: 400;
}
p,
.p,
small {
  color: var(--text-body);
}
ul li a {
  text-decoration: none;
}

/* Buttons and Links */
a,
.btn {
  &:focus,
  &:focus-visible {
    outline-offset: 0.1rem;
    outline: $dotted-border;
  }
}

a,
.btn.btn-link {
  color: var(--link);
  text-decoration: none;
  font-weight: 600;
  padding: 0;

  &:focus,
  &:focus-visible,
  &:hover {
    color: var(--link);
    text-decoration: underline;
    text-decoration-color: var(--link);
    box-shadow: none;
  }

  &.btn-daily {
    margin-inline: 0.8rem;
  }
  &.btn-daily:disabled {
    opacity: 1;
  }
}

.btn-primary {
  background-color: transparent;
  color: var(--accent);

  &,
  &:hover,
  &:focus,
  &:active {
    min-width: 3rem;
    border-color: var(--accent);
    border-radius: 0;
  }

  &:focus,
  &:active {
    background-color: rgba(var(--black), 1);
  }

  &:hover {
    background-color: rgba(var(--black), 0.4);
    box-shadow: inset 0 0 0 0.1rem var(--accent);
  }
}

// Button resets
button {
  border-radius: 0;
  font-family: inherit;
  line-height: 1.5;
  -webkit-appearance: button;
  // Remove the inheritance of text transform in Firefox
  text-transform: none;

  // 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
  //    controls in Android 4.
  // 2. Correct the inability to style clickable types in iOS and Safari.
  // 3. Opinionated: add "hand" cursor to non-disabled button elements.

  -webkit-appearance: button; // 2

  @if $enable-button-pointers {
    &:not(:disabled) {
      cursor: pointer; // 3
    }
  }

  // Explicitly remove focus outline in Chromium when it shouldn't be
  // visible (e.g. as result of mouse click or touch tap). It already
  // should be doing this automatically, but seems to currently be
  // confused and applies its very visible two-tone outline anyway.
  &:focus:not(:focus-visible) {
    outline: 0;
  }
}

@include media-breakpoint-down(sm) {
  h1 {
    padding-top: 6.4rem;
  }
}

// many resets grabbed from https://github.com/twbs/bootstrap/blob/main/scss/_reboot.scss
