@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300;
  font-display: auto;
  src: url(~typeface-quicksand/files/quicksand-latin-300.woff2);
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url(~typeface-quicksand/files/quicksand-latin-400.woff2);
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  font-display: auto;
  src: url(~typeface-quicksand/files/quicksand-latin-500.woff2);
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 600;
  font-display: auto;
  src: url(~typeface-quicksand/files/quicksand-latin-600.woff2);
}