/* Modals */

.btn-close {
  background: transparent url(../../public/images/close.svg) no-repeat center;
  width: 2rem;
  height: 2rem;
  opacity: .8;

  &:focus,
  &:focus-visible {
    box-shadow: none;
    outline-offset: 0.1rem;
    outline: $dotted-border;
  }

  &:hover { filter: grayscale(100%) brightness(400%); opacity: .8; }
}

.modal-header       {
  border-bottom: none;
  position: relative;

  .btn-close {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
}

.modal-content  { background-color: var(--main-bg); }
.modal-footer   { border-top: none; }
.modal-header,
.modal-footer   { justify-content: space-around; }
.modal-art-view { height: 80vh; }