.btn-close {
  background: transparent url(../../public/images/close.svg) no-repeat center;
  width: 3rem;
  height: 3rem;
  opacity: 1;

  &:hover {
    filter: grayscale(100%) brightness(400%);
    opacity: 0.8;
  }

  &:focus,
  &:focus-visible {
    outline-offset: 0.1rem;
    outline: $dotted-border;
  }
}

.modal-header {
  position: relative;

  .btn-close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    border: none;
  }
}

.modal-header {
  justify-content: space-around;
}

.modal-content {
  background-color: var(--main-bg);
  color: var(--white);
}
