@import './bootstrap-imports';
@import './variables';
@import './core';
@import './modals';
@import './animation';

/* Buttons and Nav Tabs */
.btn-group > {
  .btn-group:not(:last-child) > .btn,
  .btn:not(:last-child):not(.dropdown-toggle) {
    &,
    &:hover,
    &:focus,
    &:active {
      border-right: $dashed-border;
    }
  }

  .btn-group:not(:first-child) > .btn,
  :not(.btn-check) + .btn {
    border-left: $dashed-border;
  }
}

.nav-tabs {
  background-color: rgba(var(--nav-bg-alpha), 0.9);
  font-size: 1.6rem;
  border-bottom: none;
  position: fixed;
  z-index: $zindex-fixed;

  .nav-link {
    font-weight: 500;
    color: var(--accent);
    border-bottom: 0.2rem solid transparent;
    padding: 0.8rem 1.6rem;

    &:focus-visible {
      outline: $dotted-border;
    }
    &.active {
      color: var(--white);
    }

    &.active,
    &:focus,
    &:hover,
    &:focus-visible {
      background-color: rgb(var(--black));
      border: 0.1rem solid transparent;
      border-bottom: 0.2rem solid var(--accent);
    }
  }
}

.btn-tarotcard {
  opacity: 1;
}

.nav-tabs li:first-of-type {
  margin-left: 6.4rem;
}

/* Images */
.paperfox-logo {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $zindex-offcanvas-backdrop;
  margin: 0.2rem;
  padding: 0.6rem 1rem 0.3rem;
  border-bottom: 0.2rem solid transparent;

  &:hover {
    border-bottom: 0.2rem solid var(--accent);
  }

  img {
    height: 3rem;
    width: 3rem;
  }
}

.icon-white {
  filter: brightness(0) invert(1);
}

ul.flex-center img[src$='.svg'] {
  height: 3.2rem;
  opacity: 0.8;

  & :hover {
    opacity: 1;
  }
}

img[class*='_2'] {
  rotate: 180deg;
}
.info-icon {
  width: 2.4rem;
} /* Info icon created by i cons from the noun project - tinyurl.com/47b8m4an */

/* Responsive */
@include media-breakpoint-up(md) {
  .side-nav {
    position: sticky;
    top: 4.8rem;
  }
}

@include media-breakpoint-down(md) {
  .side-nav {
    position: fixed;
    top: 4.2rem;
    display: flex;
    width: 100%;
    background-color: rgba(var(--nav-bg-alpha), 0.8);
    z-index: $zindex-sticky;
    margin: 0 -1.6rem;

    li {
      margin: auto;

      a {
        padding: 0.8rem 0.4rem;
        display: inline-block;

        span {
          display: none;
        }
      }
    }
  }

  [id*='TarotCardList'] h1 {
    padding-top: 10rem;
  }
  [id*='sectionTitle'] {
    scroll-margin-top: 9rem;
  }
}

@include media-breakpoint-down(sm) {
  .nav-tabs .nav-link {
    padding: 0.8rem 0.8rem;
  }
  .side-nav li a {
    font-size: 1.5rem;
  }
}

// replacing bs

.btn-daily,
.btn-drawn-card,
.tarot-deck,
.btn-link {
  background: transparent;
  border: none;
  vertical-align: middle;
  padding: 0;
  color: var(--link);

  &:focus-visible {
    outline: $dotted-border;
    outline-offset: 2px;
  }
}

.btn-primary {
  min-width: 3rem;
  padding: 0.5rem 0.75rem;
  border: 1px solid var(--accent);
  border-radius: 0;
  background-color: transparent;
  color: var(--accent);
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 500;

  &:hover,
  &:focus,
  &:active {
    background-color: rgba(var(--black), 0.4);
    box-shadow: inset 0 0 0 0.1rem var(--accent);
  }

  &:focus-visible {
    outline: $dotted-border;
    outline-offset: 2px;
  }
}

ul {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 0;
  list-style: none;

  &.flex-center {
    display: flex;
    justify-content: center;
  }
}

.container {
  padding-inline: 1.6rem;
  max-width: 1320px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  color: var(--main-bg);
  word-wrap: break-word;
  background-color: rgba(var(--black), 0.09);
  background-clip: border-box;
  border: 1px solid rgba(var(--black), 0.125);
  border-radius: 0.25rem;

  .card-body {
    flex: 1 1 auto;
    padding: 1rem;
    color: var(--white);
  }
}

.card-img {
  width: 100%;
}
