@import './variables';
@import './core';
@import './modals';
@import './navtabs.scss';
@import './animation';
@import './spacing.scss';

/* Buttons and Nav Tabs */
.btn-group > {
  .btn:not(:last-child) {
    &,
    &:hover,
    &:focus,
    &:active {
      border-right: $dashed-border;
    }
  }

  .btn:active,
  .btn:focus {
    box-shadow: inset 0 0 0 0.1rem var(--accent);
  }

  .btn + .btn {
    border-left: $dashed-border;
  }
}

button {
  &.btn-daily {
    margin-inline: 0.8rem;

    &:disabled {
      opacity: 1;
    }
  }

  &.tarot-deck:disabled {
    opacity: 0.6;
  }
}

.btn-primary {
  background-color: transparent;
  padding: 0.5rem 0.75rem;
  font-size: 1.4rem;
  font-weight: 500;

  &,
  &:hover,
  &:focus,
  &:active {
    min-width: 3rem;
    border: 1px solid var(--accent);
    border-radius: 0;
    color: var(--accent);
  }

  &:focus,
  &:active {
    background-color: rgba(var(--black), 1);
  }

  &:hover {
    background-color: rgba(var(--black), 0.4);
    box-shadow: inset 0 0 0 0.1rem var(--accent);
  }

  &:focus-visible {
    outline: $dotted-border;
    outline-offset: 2px;
  }
}

/* Images */
.paperfox-logo {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  margin: 0.2rem;
  padding: 0.6rem 1rem 0.3rem;
  border-bottom: 0.2rem solid transparent;

  &:hover {
    border-bottom: 0.2rem solid var(--accent);
  }

  img {
    height: 3rem;
    width: 3rem;
  }
}

.icon-white {
  filter: brightness(0) invert(1);
}

ul.flex-center img[src$='.svg'] {
  height: 3.2rem;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}

img[class*='_2'] {
  rotate: 180deg;
}

.info-icon {
  width: 2.4rem;
} /* Info icon created by i cons from the noun project - tinyurl.com/47b8m4an */

/* Responsive */
@media (min-width: 768px) {
  div:has(> .side-nav) {
    margin-right: 4rem;
  }

  .side-nav {
    position: sticky;
    top: 4.8rem;
  }
}

@media (max-width: 767.98px) {
  .side-nav {
    position: fixed;
    top: 4.2rem;
    display: flex;
    width: 100%;
    background-color: rgba(var(--nav-bg-alpha), 0.8);
    z-index: 1020;
    margin: 0 -1.6rem;

    li {
      margin: auto;

      a {
        padding: 0.8rem 0.4rem;
        display: inline-block;

        span {
          display: none;
        }
      }
    }
  }

  [id*='TarotCardList'] h1 {
    padding-top: 10rem;
  }
  [id*='sectionTitle'] {
    scroll-margin-top: 9rem;
  }

  .flex-column-md {
    flex-direction: column;
  }
}

@media (max-width: 575.98px) {
  .side-nav li a {
    font-size: 1.5rem;
  }

  .flex-column-sm {
    flex-direction: column;
  }

  .align-items-center {
    align-items: center;
  }
}

@media (max-width: 767.98px) {
  .modal-tarot-img {
    width: 50%;
    margin-inline: auto;
  }

  .modal-tarot-text {
    width: 100%;
  }
}

//
// replacing bs, to be cleaned up later

.container {
  padding-inline: 1.6rem;
  max-width: 1320px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.about-container {
  max-width: 53rem;
}

.daily-container {
  max-width: 110rem;
  width: 100%;
}

.list-art-container {
  max-width: 27rem;
  width: 100%;

  @media (max-width: 1199.98px) {
    max-width: 20rem;
  }

  @media (max-width: 767.98px) {
    max-width: unset;
  }
}

.card {
  display: flex;
  flex-direction: column;
  color: var(--main-bg);
  background-color: rgba(var(--black), 0.09);
  border: 1px solid rgba(var(--black), 0.125);
  border-radius: 0.25rem;

  .card-body {
    flex: 1 1 auto;
    padding: 1rem;
    color: var(--white);
  }
}

.list-left,
.side-nav {
  flex: 0 1 35rem;
}

.list-right {
  flex: 0 1 81rem;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.float-end {
  float: right;
}

.card-img,
.w-100 {
  width: 100%;
}

.w-75,
.modal-tarot-text {
  width: 75%;
}
